**

!/nginx

!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/turbo.json
!/.npmrc
!/Cargo.toml
!/Cargo.lock

!/entrypoint.sh

!/packages/tsconfig/*
!/packages/typings/*

!/apps/web/src
!/apps/web/public
!/apps/web/.env
!/apps/web/index.html
!/apps/web/splashscreen.html
!/apps/web/tsconfig.json
!/apps/web/tsconfig.node.json
!/apps/web/vite.config.ts
!/apps/web/package.json
!/apps/web/src-tauri

!/apps/server/src
!/apps/server/Cargo.toml

!/packages/autoconfig/src
!/packages/autoconfig/Cargo.toml

!/packages/pop3/src
!/packages/pop3/Cargo.toml

!/packages/sdk/src
!/packages/sdk/Cargo.toml