**

!/nginx

!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/turbo.json
!/.npmrc

!/entrypoint.sh

!/packages/tsconfig/*

!/packages/autodiscover/src
!/packages/autodiscover/package.json
!/packages/autodiscover/rollup.config.ts
!/packages/autodiscover/tsconfig.json

!/apps/server/src
!/apps/server/public
!/apps/server/package.json
!/apps/server/tsconfig.build.json
!/apps/server/tsconfig.json

!/apps/client/src
!/apps/client/.env
!/apps/client/index.html
!/apps/client/splashscreen.html
!/apps/client/tsconfig.json
!/apps/client/tsconfig.node.json
!/apps/client/vite.config.ts
!/apps/client/package.json