**

!/nginx

!/entrypoint.sh

!/packages/server/src
!/packages/server/public
!/packages/server/package.json
!/packages/server/yarn.lock
!/packages/server/.yarnrc
!/packages/server/tsconfig.build.json
!/packages/server/tsconfig.json

!/packages/client/src
!/packages/client/index.html
!/packages/client/splashscreen.html
!/packages/client/tsconfig.json
!/packages/client/tsconfig.node.json
!/packages/client/vite.config.ts
!/packages/client/package.json
!/packages/client/.yarnrc
!/packages/client/yarn.lock