{
	"trailingComma": "none",
	"useTabs": true,
	"semi": true,
	"printWidth": 80,
	"arrowParens": "always",
	"importOrderParserPlugins": [
		"classProperties",
		"decorators-legacy",
		"typescript",
		"jsx"
	],
	"importOrderSeparation": true,
	"importOrder": [
		"@rollup/.*",
		"rollup-.*",
		"^..?/.*",
		"^slate.*",
		"^react.*",
		"^preact$",
		"^preact.*",
		"^axios.*",
		"^redis.*",
		"@redis/.*",
		"@dust-mail/.*",
		"^@nestjs/.*",
		"^@emotion/.*",
		"^@mui/material/.*",
		"^@mui/.*",
		"^@src/.*",
		"^@models/.*",
		"^@interfaces/.*",
		"^@styles/.*",
		"^@shared/.*",
		"^@utils/.*",
		"^@cache/.*",
		"^@mail/.*",
		"^@auth/.*",
		"^@components/.*",
		".*sass$",
		".*css$",
		"^@svg/.*"
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
