{
	"trailingComma": "none",
	"useTabs": true,
	"semi": true,
	"printWidth": 80,
	"arrowParens": "always",
	"importOrderSeparation": true,
	"importOrder": [
		"@rollup/.*",
		"rollup-.*",
		"^..?/.*",
		"^react.*",
		"^preact$",
		"^preact.*",
		"^axios.*",
		"^@emotion/.*",
		"^@mui/material/.*",
		"^@mui/.*",
		"^@src/.*",
		"^@models/.*",
		"^@interfaces/.*",
		"^@styles/.*",
		"^@shared/.*",
		"^@utils/.*",
		"^@components/.*",
		".*sass$",
		".*css$",
		"^@svg/.*"
	]
}
